/* Login Style */

html,
body {
  height: 100%;
  background-color: #07361b;
  font-family: "Poppins", sans-serif !important;
}

.img {
  /* Logo-Sekolah*/
  position: relative;
  width: 115px;
  height: 115px;
  left: calc(50% - 115px / 2 + 0.5px);
  top: 0px;

  background: url(.png);
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: white !important;
  border-radius: 20px !important;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.form-floating {
  top: 40px;
}


.btn {
  background-color: #056a31 !important;
  color: white;
  transform: translateY(10px);
  font-size: 14px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  position: absolute;
  width: 380px;
  height: 15%;
  left: -1px;
  right: 0px;
  bottom: 8px;
  clip: initial;
  font-weight: bold;
}

.btn:hover {
  background-color: rgba(13, 181, 18, 1) !important;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #07361b !important;
  color: rgba(255, 255, 255, 0.22);
}

.form-control:focus {
  border-color: #056a31;
}

