<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='carbon_user-avatar-filled-alt.png') }}">
        <title id="judul">Sistem Informasi Stok Barang</title>
        {% block head%}

        {% endblock %}
    </head>
    <body id="page-top">
        {% block body %}

        {% endblock %}
    </body>
    {% block javasripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <!-- <script src="/static/js/sb-admin-2.min.js"></script> -->

    <!-- Page level plugins -->
    <!-- <script src="/static/vendor/chart.js/Chart.min.js"></script> -->

    <!-- Page level custom scripts -->
    <!-- <script src="/static/js/demo/chart-area-demo.js"></script> -->
    <!-- <script src="/static/js/demo/chart-pie-demo.js"></script> -->

    {% endblock %}
</html>