<!DOCTYPE html>
{% extends 'base.html'%}
{% block head%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Halaman Edit Profil</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
{% endblock %}
{% block body%}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('home') }}">
                <div class="container">
                    <img src="/static/img/logo.png" alt="" width="90%" height="80%">
                  </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">
                    <i class="fa-solid fa-house-chimney"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed text-white" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa-solid fa-address-book text-white"></i>
                    <span>Stok Barang</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu :</h6>
                        <a class="collapse-item" href="{{ url_for('kaos_polos') }}">Stok Kaos Polos</a>
                        <a class="collapse-item" href="{{ url_for('kaos_original') }}">Stok Kaos Original</a>
                        <a class="collapse-item" href="{{ url_for('bahan_cutting') }}">Stok Bahan Cutting</a>
                    </div>
                </div>
            </li>

             <!-- Divider -->
             <hr class="sidebar-divider">

            <!-- Histori Update -->
            <li class="nav-item">
                <a class="nav-link collapsed text-white" href="{{ url_for('history_update') }}">
                    <i class="fa-solid fa-clock-rotate-left text-white"></i>
                    <span>Histori Update</span></a>
            </li>

             <!-- Divider -->
             <hr class="sidebar-divider">

            <!--Manajemen Akun-->
            <li class="nav-item">
                <a class="nav-link collapsed text-white" href="{{ url_for('manajemen_akun') }}">
                    <i class="fa-solid fa-user-plus text-white"></i>
                    <span>Manajemen Akun</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="{{ url_for('profile') }}">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" > {{ session['username'] }} <i class="fa-solid fa-user ml-2"></i></span>
                            </a>
                        </li>

                        <!-- Pemisah -->
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="{{ url_for('logout') }}">
                                <i class="fa-solid fa-right-from-bracket text-secondary"></i>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="container-fluid">
            

                        <div class="container mb-4">
                        <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="account-settings">
                                    <div class="user-profile">
                                        <div class="user-avatar">
                                            <img src="{{ account['user_photo'] }}" alt="{{ account['username'] }}"  width="100%" height="90%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="card h-100">
                        <div class="card-body">
                            <form action="{{ url_for('manajemen_akun_edit', username = account['username']) }}" method="POST">
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">Personal Details</h6>
                                </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" id="username" name="username" value="{{ account['username'] }}" placeholder="Enter username">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="eMail">Email</label>
                                            <input type="email" class="form-control" id="eMail" name="email" value="{{ account['email'] }}" placeholder="Enter email ID">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="website">Tipe User</label>
                                            <!-- <input type="url" class="form-control" id="tipe_user" value="{{ account['tipe_user'] }}" placeholder="Username"> -->
                                            <select type="tipe user" class="form-control" name="acc_type" id="acc_type" placeholder="Tipe User">
                                                {% if account['acc_type'] == "Staff"%}
                                                    <option value="Admin">Admin</option>
                                                    <option selected="selected" value="Staff">Staff</option>
                                                    
                                                {% elif account['acc_type'] == "Admin" %}
                                                    <option selected="selected" value="Admin">Admin</option>
                                                    <option value="Admin">Staff</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="website">Password</label>
                                            <input type="password" name="password" class="form-control" id="password" value="{{ account['password'] }}" placeholder="Password">
                                        </div>
                                    </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">
                                        <input type="submit" class="btn btn-primary float-right mr-3" href="#" role="button" value="Simpan">
                                        <a class="btn btn-secondary float-right mr-3" href="{{ url_for('manajemen_akun') }}" role="button">Cancel</a>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>
{%endblock%}